@import '../../styles/settings/variables'

%ProjectItem__appearance
  padding: $project-item-padding
  border-radius: $project-item-border-radius
  background: $project-item-background
  font-size: (40px/12px)*1em
  text-align: center
  color: $project-item-color
  cursor: pointer
  border: 1px solid transparent
  transition: border 0.2s ease

%ProjectItem--selected__appearance
  border-color: $highlight-color

.ProjectItem
  @extend %ProjectItem__appearance
  flex: 1 0 100%
  position: relative
  background:
    size: cover
    position: center center
  &.ProjectItem--selected
    @extend %ProjectItem--selected__appearance
  &:hover
    border: 1px solid $highlight-color

.ProjectItem__content
  position: absolute
  top: 50%
  left: 50%
  width: 2em
  height: 2em
  margin:
    top: -1em
    left: -1em
  border-radius: 100%
  background: rgba($project-item-background, 0.8)
  display: flex
  flex-direction: column
  align-content: center
  justify-content: center

.ProjectItem__selector
  display: block
  position: absolute
  top: $project-item-padding
  right: $project-item-padding
  width: 24px
  height: 24px
  border-radius: 100%
  border: 1px solid $project-item-selector-border-color
  transition: background 0.2s ease, border 0.2s ease
  &:hover
    border-color: $highlight-color
  .ProjectItem--selected &
    background: $project-item-selector-border-color

.ProjectItem__folder
  display: block
  position: absolute
  right: $project-item-padding
  bottom: $project-item-padding
  font-size: $font-size-base
