@import '../../styles/settings/variables'

.ProjectItem
  flex: 1 0 100%
  position: relative
  display: flex;
  flex-direction: column
  align-content: center
  justify-content: center
  padding: $project-item-padding
  border-radius: $project-item-border-radius
  background: $project-item-background
  font-size: (40px/12px)*1em
  text-align: center
  color: $project-item-color
  cursor: pointer
  border: 1px solid transparent
  transition: border 0.2s ease
  &.ProjectItem--selected
    border-color: $highlight-color
  &:hover
    border: 1px solid $highlight-color

.ProjectItem__selector
  display: block
  position: absolute
  top: $project-item-padding
  right: $project-item-padding
  width: 24px
  height: 24px
  border-radius: 100%
  border: 1px solid $project-item-selector-border-color
  transition: background 0.2s ease, border 0.2s ease
  &:hover
    border-color: $highlight-color
  .ProjectItem--selected &
    background: $project-item-selector-border-color

.ProjectsList__draggable
  @extend .ProjectItem
  @extend .ProjectItem--selected
  display: block
  position: absolute
  width: 182px
  height: 102px
  opacity: 0.7
  z-index: 1110
  &.ProjectsList__draggable--hidden
    top: -200vh
    left: -200vw

.ProjectsList__draggable__counter
  display: flex
  flex-direction: column
  justify-content: center
  position: absolute
  top: -$project-item-draggable-size/2
  left: -$project-item-draggable-size/2
  width: $project-item-draggable-size
  height: $project-item-draggable-size
  border-radius: 100%
  background: $highlight-color
  color: #fff
  font-size: $font-size-base

.ProjectItem__folder
  display: block
  position: absolute
  right: $project-item-padding
  bottom: $project-item-padding
  font-size: $font-size-base
