// Base colors

$body-color: #000
$app-border-color: #e4e4e4
$highlight-color: #684cd6

// Typography

$font-size-base: 14px/16px*1rem
$font-family-base: 'Open Sans', Helvetica, Arial, sans-serif

// Layout

$grid-gutter-width: 30px
$AppFilters-width: 300px
$Projects-background: #f7f8fc

// Components

$placeholder-item-background: $app-border-color

$list-item-color: darken(#b3b3b3, 15%)
$list-item-border-color: darken(#e9eaec, 10%)
$list-item-background: darken(#edeef1, 2%)
$list-item-active-background: #e9eaec
$list-item-line-height: 17px/18px

$project-item-grid-gutter: 40px
$project-item-width: 270px
$project-item-height: 170px
$project-item-padding: 10px
$project-item-border-radius: 9px
$project-item-padding: 10px
$project-item-border-radius: 9px

$project-item-color: rgba(#000, 0.4)
$project-item-background: $list-item-background
$project-item-selector-border-color: #c4c4c4

$project-item-draggable-size: 30px
