// Base colors

$body-color: #000
$app-border-color: #e4e4e4

// Typography

$font-size-base: 12px/16px*1rem
$font-family-base: 'Open Sans', Helvetica, Arial, sans-serif

// Components

$placeholder-item-background: $app-border-color
$list-item-color: #b3b3b3
$list-item-border-color: #e9eaec
$list-item-background: #edeef1
$list-item-active-background: #e9eaec
$list-item-line-height: 17px/18px


